@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome @ViewBag.UserName!</h2>
    <p class="lead"><b>SharePoint Add-ins - </b>Embracing web standards, the new cloud add-in model gives you maximum choice and flexibility to build a new class of SharePoint Add-ins using familiar languages, tools, and hosting services.</p>
    <p><a href="https://dev.office.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-sm-6 col-md-2 mg-t-10 float-right">
        ClientMaster/CreateNewClient
        <a class="btn btn-info btn-block text-white" href="ClientMaster/CreateNewClient?SPHostUrl=https://ascenworktech.sharepoint.com/sites/Developer/">Add</a>
    </div>
    <div class="col-sm-6 col-md-2 mg-t-10 float-right">
        ClientMaster/ClientDashboard
        <button type="submit" onclick="back()" class="btn btn-dark btn-block">Dashboard</button>
        <a class="btn btn-info btn-block text-white" href="ClientMaster/ClientDashboard?SPHostUrl=https://ascenworktech.sharepoint.com/sites/Developer/">Dashboard</a>
    </div>
    <div class="col-sm-6 col-md-2 mg-t-10 float-right">
        ClientMaster/ClientDetails
        <a class="btn btn-info btn-block text-white" href="ClientMaster/ClientDetails/8?SPHostUrl=https://ascenworktech.sharepoint.com/sites/Developer/">Details</a>
    </div>
</div>
@section scripts{
    <script>
        function back() {
            Pageredirect("/ClientMaster/ClientDashboard");
        }
    </script>
    
}